<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>jp.wassen.set-status</string>
    <key>ProgramArguments</key>
    <array>
      <string>"YOUR_REPOSITORY_ROOT"/gpmdp-nowplaying-on-slack/launch.sh</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>HOME</key>
      <string>"YOUR-HOME"</string>
      <key>SLACK_TOKEN</key>
      <string>"YOUR-SLACK-TOKEN"</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/gpmdp.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/gpmdp.err</string>
  </dict>
</plist>
